# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules/
jspm_packages/
bower_components/
web_modules/
.pnp
.pnp.js
.pnp.*
.pnpm-store

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn-integrity

# Build / Production
/build
dist
out
.next
.nuxt
.output
.svelte-kit/
.vuepress/dist
**/.vitepress/dist
build/Release

# Cache
.cache
.parcel-cache
.temp
.docusaurus
.fusebox/
.vite/
.npm
.eslintcache
.stylelintcache
.nyc_output

# Coverage
coverage
*.lcov

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic Reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime Data
pids
*.pid
*.seed
*.pid.lock

# Instrumented Libraries
lib-cov

# Environment Variables
.env
.env.*
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local

# System Files
.DS_Store

# TypeScript
*.tsbuildinfo

# Grunt
.grunt

# node-waf
.lock-wscript

# REPL History
.node_repl_history

# Package Archives
*.tgz

# Frameworks
.serverless/
.dynamodb/
.firebase/

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# TernJS
.tern-port

# VSCode Testing
.vscode-test

# Gatsby
.cache/
# public

# VuePress
.temp

# VitePress
**/.vitepress/cache