.footer {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;

  background: linear-gradient(
    90deg,
    #3abe2e,
    #1e293b,
    #3abe2e,
    #1e293b,
    #3abe2e,
    #1e293b
  );

  background-size: 600% 100%;

  animation: greenMoveFooter 4s linear infinite;
}

@keyframes greenMoveFooter {
  from {
    background-position: 100% 0%;
  }

  to {
    background-position: 0% 0%;
  }
}